<!-- <p>
  {{model.city}}        
</p>
<ul>
  <li>{{model.humidity}}</li>
  <li> {{model.temp}}</li>
  <li> {{model.pressure}}</li>

  <li> {{model.windDegree}}</li>

</ul> -->

<!-- <p>
  {{model.city}}        
</p> -->

<!-- <div *ngFor="let country of countries"> {{country.city}}   {{country.countryName}}
    <p>
        Temperature : {{ - 273.15 | number}}
    </p>
</div> -->
<mat-card class="example-card">
  <img mat-card-image alt="Photo of Weather">
  <mat-card-content>
    <p>
      <mat-form-field>

        <mat-label>Countries</mat-label>
        <select matInput matNativeControl placeholder="City" [(ngModel)]="model.city" name="city"  (click)="fetchWeatherByCity($event)" #city="ngModel">
          <option *ngFor="let country of countries ; index as countryId" [value]="country.city">
            <a  [routerLink]="['/countries', countryId]">
            {{ country.city }} , {{ country.countryName }}</a>
          </option>
        </select>

     <!--test-->
      </mat-form-field>

     

    </p>
    <div *ngIf="country">

    <p >
      Temperature : {{model.temp - 273.15 | number}}
    </p>
    <p>
      Pressure : {{model.pressure | number}} hPa
    </p>
    <p>
      Humidity : {{model.humidity | number}} %
    </p>
    <!-- <p>
      Remarks : {{model.description }}
    </p> -->
    <p>
      Wind Speed - Degree : {{model.windSpeed }} - {{model.windDegree }}
    </p>
  </div>
  </mat-card-content>
</mat-card>